[submodule "foundry-full-courses/foundry-nft/lib/forge-std"]
	path = foundry-full-courses/foundry-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-full-courses/foundry-nft/lib/openzeppelin-contracts"]
	path = foundry-full-courses/foundry-nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-full-courses/foundry-nft/lib/foundry-devops"]
	path = foundry-full-courses/foundry-nft/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
[submodule "foundry-full-courses/foundry-fund-me/lib/forge-std"]
	path = foundry-full-courses/foundry-fund-me/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-full-courses/foundry-fund-me/lib/chainlink-brownie-contracts"]
	path = foundry-full-courses/foundry-fund-me/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "foundry-full-courses/foundry-fund-me/lib/foundry-devops"]
	path = foundry-full-courses/foundry-fund-me/lib/foundry-devops
	url = https://github.com/Cyfrin/foundry-devops
[submodule "foundry-full-courses/foundry-erc20/lib/forge-std"]
	path = foundry-full-courses/foundry-erc20/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
