[submodule "foundry-full-courses/foundry-nft/lib/forge-std"]
	path = foundry-full-courses/foundry-nft/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "foundry-full-courses/foundry-nft/lib/openzeppelin-contracts"]
	path = foundry-full-courses/foundry-nft/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "foundry-full-courses/foundry-nft/lib/foundry-devops"]
	path = foundry-full-courses/foundry-nft/lib/foundry-devops
	url = https://github.com/ChainAccelOrg/foundry-devops
